@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:wght@200;400;500;600&family=Single+Day&display=swap");

.board {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  gap: 20px;
  font-family: "poppins";
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0 20px;
  height: 80.3vh;
  width: 112%;
}
.boardscroll {
  overflow-x: auto;
  width: 110%;
  height: 80.3vh;
}

.boardContainer {
  height: 100vh;
}

.column {
  background-color: #eef2f5;
  border-radius: 6px;
  padding: 1% 0;
  height: 77vh;
  flex: 0 0 auto;
  min-width: 21.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.columnHeader {
  font-size: 2vmin;
  font-weight: 600;
  text-align: left;
  color: #333;
}

.addButton:hover {
  background-color: #026aa7;
}
.footer {
  border: 2px solid black;
}
.dateinput {
  margin-right: 100px;
}
.task {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.taskList {
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 5px;
  white-space-collapse: collapse;
  overflow-y: auto;
  scrollbar-gutter: stable;
  margin-top: 5%;
  height: 70vh;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.lowPriority {
  color: #5aac44;
}

.icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.checklist {
  margin-top: 7px;
}
.addButton {
  font-size: 2.5vmin;
  position: relative;
  left: 30%;
  color: #000000;
}
.addButtion:hover {
  font-size: 25px;
  position: relative;
  left: 60px;
  bottom: 2px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.dueDate {
  margin-top: 10px;
  font-size: 0.9em;
  color: #777;
  text-align: right;
}

.filterDropdown {
  position: absolute;
  right: 1.5%;
  top: 57%;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: right;
  width: 100px;
  color: black;
  font-weight: 500;
}
.filterDropdown:focus {
  border: none;
  outline: none;

}
.filterDropdown:active {
  border: none;
}
.currentDate {
  position: absolute;
  top: 20px;
  right: 2%;

  font-size: 14px;

  font-family: "poppins";
  color: #707070;
  font-weight: 500;
}
.handledate {
  border: none;
  font-size: 14px;
  text-align: right;
}
.option {
  text-align: center;
}
.option:hover {
  background-color: white;
}
.handledate:focus {
  border: none;
}

.userInfo {
  position: relative;
  font-size: 2.4vmin;
  height: 19vh;
  padding: 0 20px;
  font-weight: 700;
  position: relative;

}
.userName {
  position: absolute;
  top: 17px;
}

.heading {
  position: absolute;
  top: 57%;

  font-family: "poppins";
  font-weight: 500;
  font-size: 3vmin;
}
.addButton:hover {
  background-color: transparent;
}
.group {
  width: 14px;
  margin-left: 30px;
}
.filterDropdown select,
.handledate {
  border: none;
  outline: none;
  color: black;
  font-weight: 550;
  font-size: 1.8vmin;
}

.filterDropdown select:focus,
.handledate:focus,
.filterDropdown select:active,
.handledate:active {
  border: none;
  outline: none;
  background-color: none;
  background: none;
}
.option {
  text-align: center;
  background-color: transparent; 
}

.option:focus,
.option:active {
  background-color: transparent; 
}
.filterDropdown option {
  background-color: white;
  color: black;
}


