@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.settingWrapper {
  
  height: 100vh;
}
.body {
  background-color: #ffffff;
  
  width: 25vw;
 
  padding-left: 20px;
  border-radius: 8px;
  font-family: "Open Sans";
  margin-left: 1%;
}

.inputGroup {
  margin-bottom: 15px;
  position: relative;
}
.title {
  margin-bottom: 10%;
  color: black;
  margin-top: 20px;
  font-weight: 500;
  font-family: "poppins";
  font-size: 2.4vmin;
}
.input {
  width: 100%;
  padding: 9px;
  padding-left: 50px;
  border-radius: 4px;
  margin-bottom: 5px;
  color: #828282;
  font-size: 2.05vmin;
  font-family: "open Sans";
  border: 1.38px solid #D0D0D0;
  outline: none;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}
.updateButton,
.updateButton:active,
.updateButton:focus {
  background-color: #17a2b8;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-family: 'Open sans';
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

.errorMessage {
  color: #ff0000;
  margin-bottom: 15px;
}

.successMessage {
  color: #008000;
  margin-bottom: 15px;
}
.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.eyeIconImg {
  width: 23px;
}

input::-ms-reveal {
  display: none;
}
.inputGroup {
  position: relative;
}

.inputIcon {
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);

  width: 23px;
}
.nameIcon {
  position: absolute;
  left: 10px;
  top: 45%;
  transform: translateY(-50%);
  width: 23px;
}
.eyeSlashIcon{
  width: 21px;

}