
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 30px;
  padding-top: 20px;
  border-radius: 8px;
  padding-bottom: 0px;
  width: 47vw;
  height: 65vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.taskInput {
  outline: none;
  width: 100%;
  border: 1px solid #e5e5e5;
  margin-bottom: 2%;
  padding: 7px;
  font-size: 1.8vmin;
  border-radius: 4px;
  color: #9b959f;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
}
.title {
  margin-bottom: 6px;
  color: #20102b;
  font-size: 2.3vmin;
  font-weight: 500;
  font-family: "Inter";
}
.color {
  color: #20102b;
  font-weight: 500;
  font-family: "Inter";
}

.prioritySection {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 3%;
  margin-top: 8px;
  align-items: center;
}

.prioritySection label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.prioritySection input[type="radio"] {
  margin-right: 8px;
}
.del {
  width: 2.5vmin;
}

.scrollableChecklistContainer {
  margin-top: 2%;
  max-height: 19.5vh;
  overflow-y: auto;
}

.checklistItem {
  display: flex;
  align-items: center;
}

.checklistItem input[type="checkbox"] {
  margin-right: 8px;
}

.checklistItem input[type="text"] {
  flex-grow: 1;
  margin-right: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.checklistItem button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff4d4f;
  padding: 8px;
}

.checklistlength {
  margin-top: 10px;
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  text-align: center;
  display: block;
  cursor: pointer;
  margin-top: 4%;
  border-radius: 4px;
}

.checklistItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5%;
  padding: 0px 2%;
  border: 1px solid #e2e2e2;

  border-radius: 5px;
}
.plus {
  margin-right: 5px;
  margin-left: 7px;
  width: 10px;
}

.addNewButton {
  font-weight: 500;
  border: none;
  font-size: 2vmin;
  background-color: white;
  color: #767575;
  cursor: pointer;
  margin-top: 3%;
  font-family: "Inter";
}
.checklistItem input[type="text"] {
  flex-grow: 1;
  margin: 0 10px;
  padding-left: 1px;
  border: none;
  outline: none;
  font-size: 2vmin;
  color: black;
  font-weight: 500;
  height: 2vmin;
  border-radius: 4px;
}
.checklistLength {
  color: black;
  font-weight: 500;
  font-family: "Inter";
  font-size: 2vmin;
}
.checklistItem input[type="checkbox"] {
  margin-left: 5px;
  height: 2vmin;
  width: 2vmin;
  margin-top: 1px;
  accent-color: #17a2b8;
}

.checklistItem button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1%;
}

.prioritySection {
  display: flex;
  width: 100%;
  font-size: 2vmin;
  align-items: space-between;
}
.selectedPriority {
  background-color: #eeecec;
  color: #767575;
}
.customRadioButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid #eeecec;
  border-radius: 7px;
  padding: 4px 7px;
  justify-content: space-evenly;
  font-size: 1.7vmin;
  color: #767575;
  font-weight: 600;
}

.required {
  color: red;
  font-weight: bold;
  margin-left: 1px;
}

.radioDot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-right: 6px;
}

.highPriorityDot {
  background-color: #ff2473;
}

.mediumPriorityDot {
  background-color: #18b0ff;
}

.lowPriorityDot {
  background-color: #63c05b;
}

.saveButton,
.cancelButton,
.customInput {
  border: none;
  height: 5vmin;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  width: 10vw;
  font-size: 1.8vmin;
  outline: none;
}

.saveButton {
  border: 1px solid #dc3545;
  color: #dc3545;
}

.cancelButton {
  background-color: #17a2b8;
  color: white;
  border: 1px solid #17a2b8;
}

.customPopper {
  z-index: 1002;
}

.saveButton,
.cancelButton {
  margin-left: 20px;
}

.buttonContainer {
  display: flex;
  align-items: center;

  gap: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.saveButton,
.cancelButton {
  margin-left: 20px;
  cursor: pointer;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
}

.modalCloseButton {
  background: none;
  border: none;
  font-size: 2vmin;
  cursor: pointer;
  margin-right: 10px;
}

.modalConfirmButton {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #007bff;
  color: #fff;
}

.modalFooterUpdate {
  width: 43vw;
  position: absolute;
  bottom: 0.001%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centeredDatepicker {
  position: fixed !important;
  top: 55% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 1000 !important;
  font-size: 14px;
}
.datepick {
  text-align: center;
  font-size: 1.8vmin;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 5px;
  caret-color: #707070;
  color: #767575;
  cursor: pointer;
  margin: 0;
  outline: none;

  height: 5vmin;
  box-shadow: 0px 2px 12px 0px #82698c33;
  border: 1px solid #e2e2e2;
}
.datePickerSection {
  margin-top: 10px;
  position: relative;
  bottom: 3px;
}
.modalFooter {
  position: absolute;
  bottom: 0.5vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
