
* {
  margin: 0;
  padding: 0;
}

.authContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans";
  font-weight: 600;
  color: #343434;
}

.welcomeSection {
  background-color: #17a2b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 100vh;
  width: 69vw;
  text-align: center;
  position: relative;
}

.welcomeTitle {
  position: relative;
  font-size: 3.3vmin;
  color: white;
  font-weight: 450;
  margin-top: 27%;
  z-index: 2;
}

.circleBehindImage {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 13vw;
  height: 13vw;
  background-color: #317f8b;
  opacity: 60%;
  border-radius: 50%;
  z-index: 1;
}

.astronautImage {
  width: 21vw;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 44%;
  z-index: 1;
}

.welcomeSubtitle {
  position: relative;
  font-size: 1.9vmin;
  margin-top: 0.5%;
  font-weight: 300;
  color: #ffffff;
}

.formWrapper {
  height: 100vh;
  width: 45vw;
  margin-top: 34vh;
}

.authForm {
  width: 25vw;
  margin: 0 auto;
  border-radius: 8px;
  background: white;
}

.formTitle {
  position: relative;
  font-size: 3.4vmin;
  color: #333;
  font-family: "open Sans";
  font-weight: 600;
  margin-bottom: 8vh;
  text-align: center;
}

.inputGroup {
  position: relative;
  margin-bottom: 5%;
}

.formInput {
  width: 100%;
  padding: 2.1% 0 1.6% 12%;
  border: 1.38px solid #d0d0d0;
  border-radius: 8px;
  font-size: 1.9vmin;
  color: black;
  outline: none;
  background-color: white;
}

.formInput:focus {
  border-color: #17a2b8;
}

.icon {
  position: absolute;
  top: 50%;

  left: 3%;
  transform: translateY(-50%);
  color: #757575;
  font-size: 1.5vmin;
  width: 3vmin;

}

.toggleIcon {
  position: absolute;
  top: 50%;

  right: 4%;
  transform: translateY(-50%);
  color: #757575;
  cursor: pointer;
  background-color: transparent;
}

.formButton {
  background-color: #17a2b8;
  color: white;
  padding: 2.4%;
  border: none;
  border-radius: 20px;
  font-size: 1.9vmin;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 5%;
}

.formButton:hover {
  background-color: #1391a8;
}

.formButton:active,
.formButton:focus {
  background-color: #17a2b8;
}

.switchText {
  margin-top: 6%;
  margin-bottom: 7%;
  font-size: 1.9vmin;
  text-align: center;
  color: #828282;
  font-weight: 400;
}

.switchButton {
  background: none;
  border: none;
  color: #17a2b8;
  cursor: pointer;
  margin-left: 0.5%;
  padding: 3%;
  font-size: 1.9vmin;
  width: 24.7vw;
  border-radius: 15px;
}

.img{
  width: 3.2vmin;
}
button {
  background: transparent;
  border: none;
  padding: 0;
}

button:focus {
  background: transparent;
}

.authSwitch {
  text-align: center;
  margin-top: 5%;
  font-size: 1.9vmin;
}

.authForm {
  position: relative;
  padding-bottom: 5%;
}

.switchButton {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border-radius: 15px;
  font-size: 1.9vmin;
  /* color: #17a2b8; */

  cursor: pointer;
  font-weight: 500;
  background: none;
  padding: 1.6% 0;
  border: 1px solid #17a2b8;
}

.authSwitch a {
  border: none;
  padding: 0;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: 48%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.eyeSlashIcon {
  width: 2.6vmin;
}